<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhanghao.dao.mapper.pmsMenuMapper">
  <resultMap id="BaseResultMap" type="com.zhanghao.model.pmsMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="pcode" jdbcType="VARCHAR" property="pcode" />
    <result column="pcodes" jdbcType="VARCHAR" property="pcodes" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="levels" jdbcType="INTEGER" property="levels" />
    <result column="ismenu" jdbcType="INTEGER" property="ismenu" />
    <result column="tips" jdbcType="VARCHAR" property="tips" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="isopen" jdbcType="INTEGER" property="isopen" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="updateuser" jdbcType="INTEGER" property="updateuser" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, pcode, pcodes, name, icon, url, num, levels, ismenu, tips, status, isopen, 
    createtime, updatetime, version, updateuser
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pms_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhanghao.model.pmsMenu">
    insert into pms_menu (id, code, pcode, 
      pcodes, name, icon, 
      url, num, levels, ismenu, 
      tips, status, isopen, 
      createtime, updatetime, version, 
      updateuser)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}, 
      #{pcodes,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, #{levels,jdbcType=INTEGER}, #{ismenu,jdbcType=INTEGER}, 
      #{tips,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{isopen,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, 
      #{updateuser,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhanghao.model.pmsMenu">
    insert into pms_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="pcode != null">
        pcode,
      </if>
      <if test="pcodes != null">
        pcodes,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="levels != null">
        levels,
      </if>
      <if test="ismenu != null">
        ismenu,
      </if>
      <if test="tips != null">
        tips,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isopen != null">
        isopen,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="updateuser != null">
        updateuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pcodes != null">
        #{pcodes,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="levels != null">
        #{levels,jdbcType=INTEGER},
      </if>
      <if test="ismenu != null">
        #{ismenu,jdbcType=INTEGER},
      </if>
      <if test="tips != null">
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isopen != null">
        #{isopen,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="updateuser != null">
        #{updateuser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhanghao.model.pmsMenu">
    update pms_menu
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null">
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="pcodes != null">
        pcodes = #{pcodes,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="levels != null">
        levels = #{levels,jdbcType=INTEGER},
      </if>
      <if test="ismenu != null">
        ismenu = #{ismenu,jdbcType=INTEGER},
      </if>
      <if test="tips != null">
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isopen != null">
        isopen = #{isopen,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="updateuser != null">
        updateuser = #{updateuser,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhanghao.model.pmsMenu">
    update pms_menu
    set code = #{code,jdbcType=VARCHAR},
      pcode = #{pcode,jdbcType=VARCHAR},
      pcodes = #{pcodes,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      levels = #{levels,jdbcType=INTEGER},
      ismenu = #{ismenu,jdbcType=INTEGER},
      tips = #{tips,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      isopen = #{isopen,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER},
      updateuser = #{updateuser,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>